bundles/org.savara.switchyard.java/src/test/resources/wsdl/PurchaseGoods_CreditAgency.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CreditAgency" targetNamespace="http://www.savara.org/examples/CreditAgency" xmlns:ns3="http://www.jboss.org/examples/creditAgency" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:pns2="http://www.savara.org/examples/CreditAgency" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:import namespace="http://www.jboss.org/examples/creditAgency" location="creditAgency.xsd"/>
  <wsdl:message name="CustomerUnknownFault">
    <wsdl:part name="content" element="ns3:CustomerUnknown">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creditCheckResponse">
    <wsdl:part name="content" element="ns3:CreditRating">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creditAckRequest">
    <wsdl:part name="content" element="ns3:CreditAckRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creditCheckRequest">
    <wsdl:part name="content" element="ns3:CreditCheckRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CreditAgency">
    <wsdl:operation name="creditCheck">
      <wsdl:input message="pns2:creditCheckRequest">
    </wsdl:input>
      <wsdl:output message="pns2:creditCheckResponse">
    </wsdl:output>
      <wsdl:fault name="CustomerUnknown" message="pns2:CustomerUnknownFault">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="creditAck">
      <wsdl:input message="pns2:creditAckRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditAgencyBinding" type="pns2:CreditAgency">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="creditCheck">
      <soap:operation soapAction="http://www.savara.org/examples/CreditAgency/creditCheck"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CustomerUnknown">
        <soap:fault name="CustomerUnknown" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="creditAck">
      <soap:operation soapAction="http://www.savara.org/examples/CreditAgency/creditAck"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreditAgencyService">
    <wsdl:port name="CreditAgencyPort" binding="pns2:CreditAgencyBinding">
      <soap:address location="http://localhost:8080/CreditAgencyService/CreditAgencyPort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
