bundles/org.savara.wsdl/src/test/resources/results/wsdl/PurchaseGoodsFromBPMN2_Store_rpc_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Store" targetNamespace="http://www.savara.org" xmlns:ns1="http://www.jboss.org/examples/store" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.savara.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:message name="InsufficientCreditFault">
    <wsdl:part name="content" type="ns1:BuyFailed">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AccountNotFoundFault">
    <wsdl:part name="content" type="ns1:AccountNotFound">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buyResponse">
    <wsdl:part name="content" type="ns1:BuyConfirmed">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="buyRequest">
    <wsdl:part name="content" type="ns1:BuyRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Store">
    <wsdl:operation name="buy">
      <wsdl:input message="tns:buyRequest">
    </wsdl:input>
      <wsdl:output message="tns:buyResponse">
    </wsdl:output>
      <wsdl:fault name="AccountNotFound" message="tns:AccountNotFoundFault">
    </wsdl:fault>
      <wsdl:fault name="InsufficientCredit" message="tns:InsufficientCreditFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StoreBinding" type="tns:Store">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="buy">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.savara.org"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.savara.org"/>
      </wsdl:output>
      <wsdl:fault name="AccountNotFound">
        <soap:fault name="AccountNotFound" use="literal" namespace="http://www.savara.org"/>
      </wsdl:fault>
      <wsdl:fault name="InsufficientCredit">
        <soap:fault name="InsufficientCredit" use="literal" namespace="http://www.savara.org"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoreService">
    <wsdl:port name="StorePort" binding="tns:StoreBinding">
      <soap:address location="http://localhost:8080/StoreService/StorePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
