bundles/org.savara.bpel/src/test/resources/testmodels/wsdl/ESBBrokerProcess_Supplier.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:brk="http://www.pi4soa.org/ESBBroker/Broker" xmlns:byr="http://www.pi4soa.org/ESBBroker/Buyer" xmlns:cay="http://www.pi4soa.org/ESBBroker/CreditAgency" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:spr="http://www.pi4soa.org/ESBBroker/Supplier" xmlns:tns="http://www.pi4soa.org/ESBBroker" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Supplier" targetNamespace="http://www.pi4soa.org/ESBBroker/Supplier">
    <types xmlns="http://schemas.xmlsoap.org/wsdl/">
        <schema xmlns="http://www.w3.org/2001/XMLSchema"/>
    </types>
    <wsdl:message name="confirmRequest">
        <wsdl:part element="orderConfirmed" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="confirmResponse">
        <wsdl:part element="bookingReference" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getQuoteResponse">
        <wsdl:part element="quote" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getQuoteRequest">
        <wsdl:part element="requestForQuote" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="SupplierBehavior">
        <wsdl:operation name="confirm">
            <wsdl:input message="spr:confirmRequest">
            </wsdl:input>
            <wsdl:output message="spr:confirmResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getQuote">
            <wsdl:input message="spr:getQuoteRequest">
            </wsdl:input>
            <wsdl:output message="spr:getQuoteResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SupplierBehaviorBinding" type="spr:SupplierBehavior">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="confirm">
            <soap:operation soapAction="http://www.pi4soa.org/ESBBroker/Supplier/confirm"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getQuote">
            <soap:operation soapAction="http://www.pi4soa.org/ESBBroker/Supplier/getQuote"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SupplierService">
        <wsdl:port binding="spr:SupplierBehaviorBinding" name="SupplierBehaviorPort">
            <soap:address location="http://localhost:8080/SupplierService/SupplierBehaviorPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
