bundles/org.savara.bpel/src/test/resources/testmodels/wsdl/ESBBrokerProcess_Broker.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:brk="http://www.pi4soa.org/ESBBroker/Broker" xmlns:byr="http://www.pi4soa.org/ESBBroker/Buyer" xmlns:cay="http://www.pi4soa.org/ESBBroker/CreditAgency" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:spr="http://www.pi4soa.org/ESBBroker/Supplier" xmlns:tns="http://www.pi4soa.org/ESBBroker" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Broker" targetNamespace="http://www.pi4soa.org/ESBBroker/Broker">
    <types xmlns="http://schemas.xmlsoap.org/wsdl/">
        <schema xmlns="http://www.w3.org/2001/XMLSchema"/>
    </types>
    <wsdl:message name="rejectedFault">
        <wsdl:part element="orderRejected" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="makeEnquiryRequest">
        <wsdl:part element="enquiry" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="buyResponse">
        <wsdl:part element="bookingReference" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="makeEnquiryResponse">
        <wsdl:part element="quoteList" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="buyRequest">
        <wsdl:part element="buy" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="cancelRequest">
        <wsdl:part element="cancel" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="BrokerBehavior">
        <wsdl:operation name="buy">
            <wsdl:input message="brk:buyRequest">
            </wsdl:input>
            <wsdl:output message="brk:buyResponse">
            </wsdl:output>
            <wsdl:fault message="brk:rejectedFault" name="rejected">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="makeEnquiry">
            <wsdl:input message="brk:makeEnquiryRequest">
            </wsdl:input>
            <wsdl:output message="brk:makeEnquiryResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancel">
            <wsdl:input message="brk:cancelRequest">
            </wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BrokerBehaviorBinding" type="brk:BrokerBehavior">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="buy">
            <soap:operation soapAction="http://www.pi4soa.org/ESBBroker/Broker/buy"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="rejected">
                <soap:fault name="rejected" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="makeEnquiry">
            <soap:operation soapAction="http://www.pi4soa.org/ESBBroker/Broker/makeEnquiry"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancel">
            <soap:operation soapAction="http://www.pi4soa.org/ESBBroker/Broker/cancel"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BrokerService">
        <wsdl:port binding="brk:BrokerBehaviorBinding" name="BrokerBehaviorPort">
            <soap:address location="http://localhost:8080/BrokerService/BrokerBehaviorPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
