bundles/org.savara.scenario.simulator.cdm/src/test/resources/scn/purchasegoods/creditAgency.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.jboss.org/examples/creditAgency" xmlns:tns="http://www.jboss.org/examples/creditAgency" elementFormDefault="qualified">

    <element name="CreditCheckRequest" type="tns:CreditCheckType"></element>
    <element name="CreditCheckOk" type="tns:CreditCheckType"></element>
    <element name="CreditCheckInvalid" type="tns:CreditCheckType"></element>

    <complexType name="CreditCheckType">
    	<attribute name="id" type="string"></attribute>
    	<attribute name="amount" type="integer"></attribute>
    </complexType>
</schema>