bundles/org.savara.sca.java/src/test/resources/wsdl/PurchaseGoodsProcess_Store.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ca="http://www.jboss.org/examples/creditAgency" xmlns:lg="http://www.jboss.org/examples/logistics" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sto="http://www.jboss.org/examples/store" name="Store" targetNamespace="http://www.jboss.org/examples/store">
    <types xmlns="http://schemas.xmlsoap.org/wsdl/">
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://www.jboss.org/examples/store" schemaLocation="store.xsd"/>
            <import namespace="http://www.jboss.org/examples/logistics" schemaLocation="logistics.xsd"/>
            <import namespace="http://www.jboss.org/examples/creditAgency" schemaLocation="creditAgency.xsd"/>
        </schema>
    </types>
    <wsdl:message name="BuyFailedFault">
        <wsdl:part element="sto:BuyFailed" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="buyRequest">
        <wsdl:part element="sto:BuyRequest" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="buyResponse">
        <wsdl:part element="sto:BuyConfirmed" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="AccountNotFoundFault">
        <wsdl:part element="sto:AccountNotFound" name="content">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="StoreInterface">
        <wsdl:operation name="buy">
            <wsdl:input message="sto:buyRequest">
            </wsdl:input>
            <wsdl:output message="sto:buyResponse">
            </wsdl:output>
            <wsdl:fault message="sto:AccountNotFoundFault" name="AccountNotFound">
            </wsdl:fault>
            <wsdl:fault message="sto:BuyFailedFault" name="BuyFailed">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StoreInterfaceBinding" type="sto:StoreInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="buy">
            <soap:operation soapAction="http://www.jboss.org/examples/store/buy"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="AccountNotFound">
                <soap:fault name="AccountNotFound" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="BuyFailed">
                <soap:fault name="BuyFailed" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StoreService">
        <wsdl:port binding="sto:StoreInterfaceBinding" name="StoreInterfacePort">
            <soap:address location="http://localhost:8080/StoreService/StoreInterfacePort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
